
title: {{title}} --> in prototype <br>
firstName: {{firstName}} --> literal from instanceScope {{input value=firstName}}<br>
lastName: {{lastName}} -->literal from instanceScope {{input value=lastName}}<br>
fullName: {{fullName}} --> computed property based on literals from instanceScope <br>
testArray.length: {{testArray.length}} --> Array from instanceScope <br>
testObj.testObjArray.length: {{testObj.testObjArray.length}} --> Array within an object from instanceScope
<button {{action 'addToArray'}}>Add to array</button><br>
location: {{location}} {{input value=location}} --> literal passed to component instance


<br><br>